.header {
    position  : relative;
    z-index   : 200;
    background: rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
}

.nav {
    display    : flex;
    align-items: center;
}

.header__wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav__list {
    display    : flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 80px;
}

.nav__link {
    font-size  : 19px;
    line-height: 29px;
    text-align : right;
    color      : #fff;
    transition : color .4s;
}

.nav__link:hover {
    color: #6c0aff;
}

.fa-user-o {
    color: #fff;
}

.header__logo {
    color    : #fff;
    font-size: 36px;
}

.header__auth {
    margin-left: 62px;
}

.logout {
    color      : #0a84ff;
    margin-left: 12px;
}

.registration,
.login {
    transition: color .5s;
}

.registration:hover,
.login:hover {
    color: #7c0aff;
}